// @grass: #006699;

// h1 {
// 	color: @grass;
// 	font-family: Tahoma, sans-serif;
// }

// p{
// 	color: @grass;
// }

// .panel {
// 	border: 3px solid dodgerblue;
// 	background: lightgreen;
// 	margin: 10px;
// }

// .little-panel {
// 	.panel;
// 	font-size: 12px;
// 	padding: 5px;
// }

// .big-panel {
// 	.panel;
// 	font-size: 32px;
// 	padding: 20px;
// }

// #side-nav {

// 	background: #333;
// 	a:link{
// 		color: white;
// 		display: block;
// 		padding: 8px;
// 	}
// 	a:hover {
// 		background: #777;
// 	}

// }

// #welcome-banner {
// 	font-size: 32px;
// 	background: lightgreen;
// 	// only on small screen devices
// 	@media screen{
// 		@media (max-width: 768px){
// 			font-size: 18px;
// 			background: lightsteelblue;
// 		}
// 		@media (max-width: 500px){
// 			font-size: 30px;
// 			background: red;
// 		}
// 	}
// }


@buttonBackground: #FF1F2A;
@buttonColor: #FFF;
@buttonPadding: 5px;

.button {
	background: @buttonBackground;
	color: @buttonColor;
	padding: @buttonPadding;
	display: inline-block;
}

.jumbo-button {
	.button;
	padding: @buttonPadding + 30;
}

.light-button {
	.button;
	background: @buttonBackground * 3.0;
}

















