.buttpractice {
  background: #5B1855;
  color: #5B1855;
  padding: 20px;
  display: inline-block;
}
#one {
  height: 500px;
  width: 800px;
  margin-bottom: 10px;
  background: url("images/watermelon.jpg");
}
#two {
  height: 500px;
  width: 800px;
  margin-bottom: 10px;
  background: url("images/homepagegirl.jpg");
}
