.button {
  background: #FF1F2A;
  color: #FFF;
  padding: 5px;
  display: inline-block;
}
.jumbo-button {
  background: #FF1F2A;
  color: #FFF;
  padding: 5px;
  display: inline-block;
  padding: 35px;
}
.light-button {
  background: #FF1F2A;
  color: #FFF;
  padding: 5px;
  display: inline-block;
  background: #ff5d7e;
}
